.TrainContainer {
    position: relative;
    top: 10px;
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 30px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
}

#canvas { 
    border: 1px solid #000; 
    /*background-image: url("sample.jpg"); */
    background-repeat: no-repeat; 
    background-size: auto auto;
}